    <header>
	    <div class="header-content">
	      	<div class="site-title">Lekker Labs: A recipe collection</div>

	      	<!-- This should become a link once index exists -->
	        <strong><a href="{{ site.baseurl }}/index">Home</a></strong>
	        	&nbsp; &nbsp; &nbsp;
	        <a href="{{ site.baseurl }}/2017-01-09-chicken-wonton-soup">Wontons</a>
	        	&nbsp; &nbsp; &nbsp;
          <a href="/about">About</a>
          		&nbsp; &nbsp; &nbsp;
          <a href="/a-guide-to-recipe-tags">Tags</a>
        </div>
  	</header>
