<header>
  <div id="header-content">
      <div class="header-left">
          <a href="/index.html">
            <div class="logo">
              <img src="/uploads/logo.svg"style="width:13rem; height:2rem;" />
            </div>
          </a>
        </div>

      <div class="header-right">
        <a href="{{ site.github.url }}/">Recipes</a>
        	&nbsp; &nbsp; &nbsp;
        <a href="{{ site.github.url }}/tags">Tags</a>
            &nbsp; &nbsp; &nbsp;
        <a href="{{ site.github.url }}/menus">Menus</a>
            &nbsp; &nbsp; &nbsp;
        <a href="{{ site.github.url }}/about.html">About</a>
        		&nbsp; &nbsp; &nbsp;
        <a href="{{ site.github.url }}/a-guide-to-recipe-tags.html">Tag guide</a>
        		&nbsp; &nbsp; &nbsp;
        <a href="#">Search</a>
    </div>
    </div>
</header>
