<header>
  <div id="header-content">
      <div class="header-left">
          <a href="/index.html">
            <div class="logo">
              <img src="/uploads/logo.svg"style="width:13rem; height:2rem;" />
            </div>
          </a>
        </div>

      <div class="header-right">
        <a href="/">Recipes</a>
        	&nbsp; &nbsp; &nbsp;
        <a href="/menus">Menus</a>
            &nbsp; &nbsp; &nbsp;
        <a href="/tags">Tags</a>
            &nbsp; &nbsp; &nbsp;
        <a href="/a-guide-to-recipe-tags.html">Guide</a>
        		&nbsp; &nbsp; &nbsp;
        <a href="/references.html">Reference</a>
            &nbsp; &nbsp; &nbsp;
        <a href="/about.html">About</a>
            <!-- &nbsp; &nbsp; -->
        <!-- <a href="#">Search</a> -->
    </div>
    </div>
</header>
