<h3><a href="{{post.url}}">{{ post.title | truncate: 52 }}</a></h3>
<p class="recipe-list-summary">

  <!-- for recipe posts -->
    {% if post.totalTime != "" %}
      <span class="tags">{{post.totalTime}}</span> | {{post.yield}}<br />
    {% endif %}
  <em>
    <span class="faded">
    <!-- for recipe posts -->
    {% if post.personalNote != "" %}
    {{ post.personalNote | strip_html | truncate: 145 }}
    {% endif %}
    <!-- for posts other than recipes -->
    {% if post.summary != "" %}
    {{ post.summary | strip_html | truncate: 150 }}
    {% endif %}
  </span>
  </em>
</p>

<h5 class="tags">
  {% assign sortedtags = post.tags | sort %}
  {% for tag in sortedtags %}
      <a href="/tag/{{tag}}">{{ tag }}</a>
      {% if forloop.last != true %}
          &nbsp;
      {% endif %}
  {% endfor %}
</h5>
