/*  STYLE INDEX
	00 FONTS AND COLORS
	01 BASIC STYLES
	02 HEADER + NAV + CONTENT BLOCK + FOOTER
	03 HOVER ANIMATION
	04 RECIPE PAGE ELEMENTS
	05 LIST ITEMS
*/

/*-----------------------------*/
/*  00 FONTS AND COLORS  */
/*-----------------------------*/

/*  FONTS FROM GOOGLE
		Open Sans
			400 Regular
			600 Semi-Bold
			700 Bold
		Merriweather
			300 Light
			300i Light Italic
			700 Bold
			700i Bold Italic
		Inconsolata
			400 Regular

	COLORS FROM LEKKER LABS
		Red: #f14a0e;
		Bronze: #c07c12;
		Light bronze: #c09859;
		Navy: #102255;
		Medium blue: #3d5a95;
		Dark gray: #515967;
		Medium gray: #d0d4db;
		Light gray: #f1f3f7;
*/

/*-----------------------------*/
/*  01 BASIC STYLES  */
/*-----------------------------*/

html {
	font-size: 16px;
}
body {
	margin: auto;
	font-family: 'Open Sans', sans-serif;
	color: #515967;
	font-weight: 400;
	}

#page-layout {
	/* applies to everything below header.html and above footer.html */
	max-width: 45rem;
	margin: auto;
}

p {
	font-family: 'Merriweather', serif;
	font-size: 1.125rem;
	font-weight: 300;
	line-height: 1.8;
	}

a {
	text-decoration: none;
	color: #c07c12;
	position: relative;
}

a:hover {
	color: #f14a0e;
	text-decoration: none;
}

h1 {
	font-size: 2.5rem;
	font-weight: 700;
	}

h2 {
	font-size: 2rem;
	font-weight: 400;
	}

h3 {
	font-size: 1.5rem;
	font-weight: 600;
	}

h4 {
	font-size: 1.25rem;
	font-weight: 400;
	line-height: 1.6;
	max-width: 90%;
	}

h5 {
	text-transform: uppercase;
	letter-spacing: 0.1rem;
	font-size: 0.75rem;
	font-weight: 600;
	line-height: 1.8;
	}

blockquote {
	font-family: 'Merriweather', serif;
	line-height: 1.8;
	font-size: 1.25rem;
	font-weight: 300;
	margin: 3rem 0rem;
	padding-left: 2.5rem;
	max-width: 90%;
	white-space: pre-line;
	/* border-left set at authorNote and personalNote below */
	}

code {
	font-size: 1rem;
	font-family: 'Inconsolata', monospace;
	color: #3d5a95;
	}

code.highlighter-rouge {
    background-color: #f1f3f7;
	padding: .25rem .5rem;
    line-height: 2;
    border-radius: 0.125rem;
	}

/*-----------------------------*/
/*  02 HEADER + NAV + CONTENT BLOCK + FOOTER  */
/*-----------------------------*/

/* HEADER.HTML*/

#header-content {
	width: 100%;
	padding: 1rem 0;
	margin-bottom: 4.5rem;
	background-color: #f1f3f7;
	overflow: hidden;
	}

.logo {
	/*width: 2.5rem;
	height: 2.5rem;
	background: #ffffff;
	-moz-border-radius: 1.25rem;
	-webkit-border-radius: 1.25rem;
	border-radius: 1.25rem;*/
	float: left;
	/*margin-right: 1rem;*/
}

#header-content .header-left {
	text-transform: uppercase;
	font-size: 0.875rem;
	font-weight: 700;
	display: block;
	float: left;
	width: 45%;
	color: #3d5a95;
	letter-spacing: .125rem;
	padding: 0 2.5%;
	/*background-color: #102255;*/
}

#header-content .header-right {
	text-transform: uppercase;
	font-size: 0.8rem;
	letter-spacing: .1rem;
	font-weight: 400;
	display: block;
	float: left;
	text-align: right;
	width: 45%;
	padding: .6rem 2.5%;
	/*background-color: #f1f3f7;*/
	overflow: hidden;
}

#header-content a {
	color: #3d5a95;
}

#header-content a:hover {
	color: #f14a0e;
}

/* APPLIES TO ALL _LAYOUTS FILES */

content {
	width: 100%;
	white-space: pre;
	}

/* FOOTER.HTML */

.footer-content {
	margin-top: 10rem;
	margin-bottom: 0rem;
	opacity: 0.6;
	text-align: center;
	height: 3rem;
	}

/*-----------------------------*/
/*  03 HOVER ANIMATION  */
/*-----------------------------*/

a:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  margin-bottom: -3px;
  background-color: #f14a0e;
  visibility: hidden;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}

a:hover:before {
  visibility: visible;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}

/*-----------------------------*/
/*  04 RECIPE PAGE ELEMENTS  */
/*-----------------------------*/

.image {
	width: 100%;
	max-height: 20rem;
	overflow: hidden;
	position: relative;
	display: block;
	}

.recipe-title {
	margin-bottom: 1rem;
}

.tags {
	font-weight: 600;
	margin-top: 0;
	}

.authorNote {
	border-left: .25rem #d0d4db solid;
	font-style: italic;
}
.personalNote {
	border-left: .25rem #c09859 solid;
	color: #c07c12;
}

.personalNote a {
	color: #f14a0e;
}

.ingredients p {
	background: #f1f3f7;
	padding: 2rem 2.5rem;
	white-space: pre-line;
	white-space: pre-line;
    font-size: 1rem;
    line-height: 2;
    font-style: italic;
	}

.ingredient-header {
	font-weight: 700;
	font-style: normal;
	opacity: 0.8;
	}

.time-breakdown h3 {
	margin-bottom: 0rem;
	}

.time-breakdown h4 {
	opacity: 0.8;
	margin-top: 0.625rem;
	width: 85%;
	}

.time-breakdown .time-notlast:last-child {
	display: none;
	}

.method h3 {
	font-weight: 700;
	}

-----------------------------
/*  05 LIST ITEMS */
-----------------------------

.small {
	font-size: 60%;
	opacity: 0.4;
}

.recipe-list-item {
		width: 90%;
	} /* this is the div */

	.recipe-list-item h3 {
		margin-top: 3rem;
		margin-bottom: 0.5rem;
		padding: 0;
	}

.recipe-list-summary {
	margin-top: 0;
	margin-bottom: 0.75rem;
}

.tag-list {
	columns: 3;
	margin: auto;
	height: 30rem;
}

.tag-list > p:first-child {
      margin: 0;
		}

.faded {
	opacity: 0.7;
}
