<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title></title>
  <link rel="stylesheet" href="/dist/spectre.min.css">
  <!-- Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Merriweather:300,300i,700,700i" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Inconsolata" rel="stylesheet">
</head>

<body>
  <!-- Header -->

  {% include header.html %}

<div id="page-layout">

  <!-- Content -->

  <div class="content">

      {{ content }}

  </div> <!-- end content div -->

</div>

  <!-- Footer -->

  {% include footer.html %}

</body>
</html>
