<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title></title>
  <link rel="stylesheet" href="/assets/stylesheet.css">
  <!-- Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Merriweather:300,300i,700,700i" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Inconsolata" rel="stylesheet">
</head>

<body>
  <!-- Header -->

  {% include header.html %}

  <!-- Content -->

  <div class="content">

      <h1>{{page.title}}</h1>

      {{ content }}

    <!-- for site tags in recipe collection -->

    {% assign tags =  site.recipes | map: 'tags' | join: ','  | split: ',' | uniq %}
      {% for tag in tags %}
        <h3>{{ tag }}</h3>
        <ul>
        {% for recipes in site.recipes %}
          {% if recipes.tags contains tag %}
          <li><a href="{{ site.baseurl }}{{ recipes.url }}">{{ recipes.title }}</a></li>
          {% endif %}
        {% endfor %}
        </ul>
      {% endfor %}


  </div> <!-- end content div -->

  <!-- Footer -->

  {% include footer.html %}

</body>
</html>
