---
layout: default
---

<h1><span style="font-weight: 400;">All recipes tagged</span> {{page.tag}}</h1>
{% include index-menu.html %}

<div class="recipe-list-item">
{% for post in site.categories.recipe %}
  {% for tag in post.tags %}
    {% if tag == page.tag %}

    {% include recipe-list-item.html %}

    {% endif %}
  {% endfor %}
{% endfor %}
</div>

{% assign counter = 0 %}

{% for post in site.categories.menu %}
  {% for tag in post.tags %}
    {% if tag == page.tag %}
    {% assign counter = counter | plus: 1 %}
    {% endif %}
  {% endfor %}
{% endfor %}

{% if counter > 0 %}

<br />
<br />

<h2><span style="font-weight: 400;">Menus tagged</span> {{page.tag}}</h2>
<div class="recipe-list-item">
{% for post in site.categories.menu %}
  {% for tag in post.tags %}
    {% if tag == page.tag %}

    {% include recipe-list-item.html %}

    {% endif %}
  {% endfor %}
{% endfor %}
</div>

{% endif %}
