---
layout: default
title:
---

<h1><span style="font-weight: 400;">All recipes tagged</span> {{page.tag}}</h1>
<h5>
  <a href="/">All recipes</a> &nbsp;
  <a href="/tags">All tags</a> &nbsp;
  <a href="/a-guide-to-recipe-tags.html">A guide to recipe tags</a>
</h5>

<div class="recipe-list-item">
{% for post in site.posts %}
  {% for tag in post.tags %}
    {% if tag == page.tag %}

    {% include recipe-list-item.html %}

    {% endif %}
  {% endfor %}
{% endfor %}
</div>

<!-- Recipe list items from index.html -->
<!-- <h3><a href="{{recipe.url}}">{{ post.title }}</a></h3>
<p class="recipe-list-summary">
  {{ post.content | strip_html | truncate: 160 }}
</p>
<h5 class="tags">
  {% assign sortedtags = post.tags %}
  {% for tag in sortedtags %}
      <a href="{{tag.url }}">{{ tag }}</a>
      {% if forloop.last != true %}
          &nbsp;
      {% endif %}
  {% endfor %}
</h5> -->
